CONNECTIONSTRINGS__DEFAULTCONNECTION=
STRIPE__SECRETKEY=
STRIPE__WEBHOOKSECRET=
ADMINUSER__EMAIL=
ADMINUSER__PASSWORD=
RABBITMQ__HOSTNAME=
RABBITMQ__PORT=
RABBITMQ__USERNAME=
RABBITMQ__PASSWORD=
RABBITMQ__EMAILQUEUENAME=
SMTP__HOST=
SMTP__PORT=
SMTP__ENABLESSL=
SMTP__USERNAME=
SMTP__PASSWORD=
SMTP__FROMEMAIL=
SMTP__FROMDISPLAYNAME=
JWT__KEY=
JWT__ISSUER=
JWT__AUDIENCE=
